@import url('__container/comments__container.css');
@import url('__item/comments__item.css');
@import url('__image/comments__image.css');
@import url('__quote/comments__quote.css');
@import url('__author/comments__author.css');

.comments {
    position: relative;
    text-align: center;
    padding: 102px 0 0;
 }
 @media only screen and (min-width: 375px) and (max-width : 767px) {
    .comments {
        padding: 64px 0 0;
    }
}
@media  all and (max-width : 374px) {
    .comments {
        padding: 62px 0 0;
    } 
}