.places__image {
    max-width: 100%;
}
@media only screen and (min-width: 375px) and (max-width : 767px) {
    .places__image {
        width: 100%;
    } 
}
@media  all and (max-width : 374px) {
    .places__image {
        width: 100%;
    } 
}