@import url('__image/lead__image.css');
@import url('__groupe-image/lead__groupe-image.css');
@import url('__caption/lead__caption.css');
@import url('__images/lead__images.css');
.lead {
    position: relative;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 0 0;
}

