.section-subtitle_size_lead {
    max-width: 584px;
    font-size: 30px;
    line-height: 36px;
    margin: 48px auto 0;
}
@media only screen and (min-width: 1024px) and (max-width : 1279px) {
    .section-subtitle_size_lead {
        margin: 46px auto 0;
    }
}
@media only screen and (min-width: 375px) and (max-width : 767px) {
    .section-subtitle_size_lead {
        max-width: 330px;
        font-size: 16px;
        line-height: 24px;
        margin: 8px auto 0;
    }
}
@media  all and (max-width : 374px) {
    .section-subtitle_size_lead {
        max-width: 330px;
        font-size: 16px;
        line-height: 24px;
        margin: 8px auto 0;
    }
}