.container-l{
      max-width: 984px;
      margin: 0 auto;
}
@media only screen and (min-width: 1024px) and (max-width : 1279px) {
      .container-l {
          max-width: 90.625%;
      }
}