@import url('__link/cover__link.css');
@import url('__title/cover__title.css');
@import url('__subtitle/cover__subtitle.css');
@import url('__image/cover__image.css');
@import url('__maska/cover__maska.css');

.cover {
   position: relative;
  
  /* height: auto;*/
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
}
