.lead__images {
    position: relative;
    max-width: 100%;
    margin: 78px auto 0;
    padding: 0;
}
@media only screen and (min-width: 1024px) and (max-width : 1279px) {
    
    .lead__images {
        margin: 65px auto 0;
        padding: 0;
        max-width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width : 1023px) {
   
    .lead__images {
        max-width: 100%;
    }
}
@media only screen and (min-width: 375px) and (max-width : 767px) {
    .lead__images {
        max-width: 100%;
        margin: 32px 0 0;
    }
}
@media  all and (max-width : 374px) {
    .lead__images {
        max-width: 100%;
        margin: 32px 0 0;
    }
}