.video__subtitle {
    margin-top: 18px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 15px;
    z-index: 3;
}
@media only screen and (min-width: 768px) and (max-width : 1023px) {
    .video__subtitle {
        margin-top: 12px;
       margin-bottom: 24px;
    }
}
@media only screen and (min-width: 375px) and (max-width : 767px) {
    .video__subtitle {
        margin-top: 12px;
       margin-bottom: 24px;
    }
}
@media  all and (max-width : 374px) {
    
}