.video__maska {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0);
}
.video__item:hover > .video__maska {
    background-color: rgba(0, 0, 0, 0.8);
}
