.places__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 484px;
}
@media only screen and (min-width: 375px) and (max-width : 767px) {
    .places__website {
        display: none;
    }
    
}
@media  all and (max-width : 374px) {
    .places__website {
        display: none;
    }
}