.places__description {
    margin: 0 0 32px;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
}
.places__description:last-of-type {
    margin: 0;
}
@media only screen and (min-width: 1024px) and (max-width : 1279px) {
    
    .places__description {
        margin: 0 0 24px;
    }
}
@media only screen and (min-width: 768px) and (max-width : 1023px) {
    .places__description {
        font-size: 16px;
        line-height: 27px;
        margin: 0 0 24px;
    }
}
@media only screen and (min-width: 375px) and (max-width : 767px) {
    .places__description {
        font-size: 16px;
        line-height: 27px;
        margin: 0 auto 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media  all and (max-width : 374px) {
    .places__description {
        font-size: 16px;
        line-height: 27px;
        margin: 0 auto 24px;
        padding-left: 16px;
        padding-right: 16px;
        
    }
}