.video__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;   
    align-items: center;
}
@media only screen and (min-width: 768px) and (max-width : 1023px) {
    .video__container {
        margin-top: 56px;   
    }
}
@media only screen and (min-width: 375px) and (max-width : 767px) {
    .video__container {
        margin-top: 24px;   
        flex-direction: column;
    }
}
@media  all and (max-width : 374px) {
    .video__container {
        margin-top: 24px;   
        flex-direction: column;
    }
}